.block_about_us{
	h2.title{
		.print-fonts(4.375em,300,#000000,@font-type-one,none);
		text-align: center;
	}
	div.content{
		text-align: center;
		width: 796px;
		margin: auto;
		.print-fonts(1.250em,300,#000000,@font-type-one,none);
		margin-top: 40px;
	}
	div.image{
		height: 880px;
		.background-image();
	}
}