.post-type-archive-company{
    .banner{
        .background-image();
        height: 850px;
        .title{
            .print-fonts(4.375em,300,@color-clear,@font-type-one,uppercase);
            width: 700px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height: 850px;
            position: relative;
        }
    }
}
.block_about_us{
    h2.title{
        .print-fonts(4.375em,300,#000000,@font-type-one,none);
        text-align: center;
        margin-top: 90px;
    }
    div.content{
        text-align: center;
        width: 796px;
        margin: auto;
        margin-top: 50px;
        .print-fonts(1.250em,300,#000000,@font-type-one,none);
    }
    div.fade_slide{
        position:relative; 
        height:815px;
        margin-top: 90px;
        div{ 
            position:absolute;
            width: 100%;
            height:815px;
            display: none;
            .background-image()
        }
    }

    div.button{
        margin-top: 50px;
        .read-more-button(1em,#000000,10px 40px,#ffffff);
    }

    &:last-child{
        border-bottom: #eeeeee solid 1px;
    }
}

@media (max-width: @screen-md-max){
    .post-type-archive-company{
        .banner{
            height: 600px;
            .title{
                height: 600px;
            }
        }
    }
}

@media (max-width: 700px){
    .post-type-archive-company{
        .banner{
            .title{
                width: 100%;
            }
        }
    }
}

@media (max-width: 796px){
    .block_about_us{
        div.content{
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: @screen-sm-max){
    .post-type-archive-company{
        .banner{
            height: 400px;
            .title{
                font-size: 3em;
                height: 400px;
            }
        }
    }
    .block_about_us{
        h2.title{
            font-size: 3em;
            margin-top: 30px;
        }  
        div.fade_slide{
            height: 400px;
            div{
                height: 400px;
            }
        }
    }
}