/**
 * Slide styles
 */
#slide-home{
    height: 750px;
    .item{
        height: 750px; 
        width: 100%;
        .background-image();

        .content{
            width: 640px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height: 750px;
            position: relative;
            h1{
                .print-fonts(6.250em,500,#ffffff,@font-type-one,none);
                margin-bottom: 20px;
                text-shadow: 1px 1px 6px #313131;
                a{
                    color: #ffffff;
                }
            }
            p{
                .print-fonts(1em,400,#ffffff,@font-type-two,none);
                margin-bottom: 40px;
                text-shadow: 1px 1px 6px #313131;
                a{
                    color: #ffffff;
                }
            }
            .button{
                .read-more-button(1em,#ffffff,10px 60px,#000000);
            }
        }
    }
    
    .prev-new,
    .next-new{
        width: 76px;
        height: 76px;
        position: absolute;
        top: 50%;
        margin-top: -38px;
    }

    .prev-new{
        background-image: url(../../../../../images/prev-slide-button.jpg);
        left: 10px;
    }
    .next-new{
        background-image: url(../../../../../images/next-slide-button.jpg);
        right: 10px;
    }
}

/**
 * Home info
 */
#container-home-info{
    padding: 50px 0px;
    border-bottom: solid 1px #eeeeee;
    text-align: center;
    .paragraph{
        .print-fonts(1em,400,#000000,@font-type-two,none);
        width: 770px;
        margin: 50px auto;
        line-height: 26px;
    }
    .button{
        .read-more-button(1em,#f68b1f,8px 80px,#ffffff);
    }
}

/**
 * Services
 */
#home-services{
    padding: 120px 0px 170px 0px;
    position: relative;
    .content{
        background-color: #f8f8f8;
        padding: 100px;
        .title{
            .print-fonts(2.500em,400,#000000,@font-type-one,uppercase);
        }
        .paragraph{
            .print-fonts(1em,400,#000000,@font-type-two,none);
            line-height: 26px;
            text-align: justify;
            margin-top: 30px;
        }
        .button{
            .read-more-button(1em,#f8f8f8,8px 80px,#000000);
            border:solid 1px #000000;    
            margin-top: 80px;    
        }
    }
    .hand_services{
        background-image: url(../../../../../images/hand_services.png);
        width: 375px;
        height: 460px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -187.5px;
    }
    .fade_slide{
        position:relative; 
        height: 580px;
        div{
            position:absolute;
            width: 100%;
            height: 570px;
            display: none;
            text-align: center;
            img{
                height: 100%;
                width: auto;
            }
        }
    }
}

/**
 * Products
 */
#home_products{
    background-image: url(../../../../../images/bg-products-home.jpg);
    .background-image();
    padding: 100px 0px;
    h1.title{
        .print-fonts(2.500em,400,#ffffff,@font-type-one,uppercase);
        text-align: center;
    }
    .paragraph{
        .print-fonts(1em,400,#ffffff,@font-type-two,none);
        text-align: center;
        width: 800px;
        margin: 30px auto 0px auto;
    }
    .container{
        text-align: center;
        .col-lg-4{
            margin-top: 50px;
            &>div{
                padding: 0px 20px;
                display: table;
                .image{
                    display: table-cell;
                    vertical-align: middle;
                    width: 102px;
                }
                .text{
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 10px;
                    text-align: left;
                    h2{
                       .print-fonts(1.250em,400,#ffffff,@font-type-one,none); 
                    }
                    .excerpt{
                        margin-top: 10px;
                       .print-fonts(0.875em,300,#ffffff,@font-type-two,none); 
                    }
                }
            }
        }
        .button{
            .read-more-button(1em,#f8f8f8,8px 80px,#000000);
            margin-top: 70px;
        }
    }
}

/**
 * Responsive sliders
 */
@media (max-width: @screen-md-max){
    #slide-home{
        height: 500px;
        .item{
            height: 500px; 
            .content{
                height: 500px;
            }
        }
    }
}

@media (max-width: @screen-sm-max){
    #slide-home{
        height: 400px;
        .item{
            height: 400px; 
            .content{
                height: 400px;
                word-wrap: break-word;
                h1{
                    font-size: 3.5em;
                }
            }
        }
        .prev-new,
        .next-new{
            display: none;
        }
    }
}

/**
 * Responsive home info
 */
@media (max-width: @screen-md-max){
    #container-home-info{
        .paragraph{
            width: 100%;
            padding: 0px 20px;
        }
    }
}

/**
 * Responsive services
 */
@media (max-width: @screen-md-max){
    #home-services{
        .hand_services{
            display: none;
        }
        .fade_slide{
            height: 320px;
            div{
                height: 320px;
                img{
                    height: auto;
                    max-height: 300px;
                }
            }
        }
    }
}

@media (max-width: @screen-sm-max){
    #home-services{
        padding: 0px 0px 50px 0px;
        .content{
            padding: 20px;
            .title{
                text-align: center;
                word-wrap: break-word;
            }
        }
    }
}

/**
 * Respnsive products
 */
@media (max-width: 800px){
    #home_products{
        .paragraph{
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    } 
}

@media (max-width: @screen-sm-max){
    #home_products{
        .container{
            .col-lg-4{
                &>div{
                    display: block;
                    .image{
                        display: block;
                        width: 100%;
                    }
                    .text{
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    } 
}

