#product_type{
    position: relative;
    .banner{
        .background-image();
        width: 100%;
        height: 510px;
        position: relative;

        #call-to-action{
            width: 720px;
            height: 100px;
            position: absolute;
            left: 50%;
            margin-left: -360px;
            background-color: #f2f8fa;
            bottom: -50px;
            -webkit-box-shadow: 0px 6px 9px -4px rgba(153,139,153,1);
            -moz-box-shadow: 0px 6px 9px -4px rgba(153,139,153,1);
            box-shadow: 0px 6px 9px -4px rgba(153,139,153,1);
            .logo{
                width: 183px;
                height: 100px;
                background-image: url(../../../../../images/logo.jpg);
               display: table-cell;
            }
            .phone-ico{
                display: table-cell;
                vertical-align: middle;
                padding-left: 40px;
            }
            .phone{
                display: table-cell;
                vertical-align: middle;
                 padding-left: 20px;
                .print-fonts(1em,400,#135fae,@font-type-two,none);
            }
            .button{
                .read-more-button(1em,#135fae,10px 40px,#ffffff);
                position: absolute;
                top: 30px;
                right: 60px;
            }
        }
    }
    &>.title{
        font-weight: 600;
        margin: 50px 0px 20px 0px;
        text-align: center;
    }
    &>.description{
        .print-fonts(1.1em,400,#000000,@font-type-two,none);
        width: 800px;
        margin: auto;
        margin-bottom: 80px;
        text-align: center;
    }
    .container > .row{
        height: @product_height;
        & > .col-lg-6{
            height: @product_height;
            &>div{
                height: @product_height;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .products{
        .product{
            .background-image();
            height: @product_height;
            border-top: #eeeeee solid 1px;
            &:last-child{
                border-bottom: #eeeeee solid 1px;
            }
            .text-left-product{
                padding-left: 50px;
            }
            .text-right-product{
                padding-right: 50px;
            }
            h2{
                .print-fonts(3.750em,600,#ffffff,@font-type-one,uppercase);
            }
            .paragraph{
                .print-fonts(1em,400,#000000,@font-type-two,none);
                margin-top: 40px;
            }
            .button{
                .read-more-button(1em,#000000,8px 50px,#ffffff);
                margin-top: 40px;
            }
            .carousel{
                height: @product_height;
                width: 100%;
                .item{
                    height: @product_height; 
                    .background-image();
                }
            }
        }
    }
    .sliders{
        .text-right-product{
            padding-left: 20px;
        }
        .text-left-product{
            padding-right: 20px;
        }
        .prev-new,
        .next-new{
            width: 37px;
            height: 86px;
            position: absolute;
            top: 50%;
            margin-top: -43px;
        }

        .prev-new{
            background-image: url(../../../../../images/prev-slide-button.png);
            left: 10px;
        }
        .next-new{
            background-image: url(../../../../../images/next-slide-button.png);
            right: 10px;
        }
    }
}

@media (max-width: @screen-md-max){
    #product_type{
        .container > .row{
            height: auto;
            & > .col-lg-6{
                height: auto;
                &>div{
                    height: auto;
                    display: block;
                    width: 100%;
                }
            }
        }
        .products{
            .product{
                padding: 30px 0px;
                height: auto;
                h2{
                    font-size: 2em;
                }
                .text-left-product{
                    padding-left: 0px;
                }
                .text-right-product{
                    padding-right: 0px;
                }
                .carousel{
                    height: 400px;
                    margin-bottom: 20px;
                    .item{
                        height: 400px;
                    }
                }
            }
        }
        .container{
            width: 100%;
        }
        .container-bg-image,
        .container-block-image{
            padding-left: 10px;
            padding-right: 10px;
        }
        .sliders{
            padding-top: 0px !important;
        }
    }
}

@media (max-width: @screen-sm-max){
    #product_type{
        .banner{
            height: 300px;    
        }
        .products{
            .product{
                text-shadow: 1px 1px 2px #434443;
                text-align: center;
                height: auto;
                .carousel{
                    height: 300px;
                    margin-bottom: 20px;
                    .item{
                        height: 300px;
                    }
                }
            }
        }
        .container-block-image{
            .image{
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 750px){
    #product_type{
        .banner{
            #call-to-action{
                width: 90%;
                left: 0px;
                margin-left: 5%;
                @media (max-width: 650px){
                    height: auto;
                    padding: 15px 0px;
                }
                .logo{
                    display: none;
                }
                .phone-ico{
                    @media (max-width: 650px){
                        display: block;
                        text-align: center;
                        margin-bottom: 10px;
                        padding-left: 0px;
                    }
                }
                .phone{
                    height: 100px;
                    @media (max-width: 650px){
                        display: block;
                        height: auto;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 10px;
                        padding-left: 0px;
                    }
                }
                .button{
                    @media (max-width: 650px){
                    position: relative;
                    right: inherit;
                    top: inherit;
                        @media (max-width: 290px){
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 820px){
    #product_type{
        &>.description{
            width: 95%;
        }
    }
}